<title>IconStory World</title>
<script src="https://cdn.jsdelivr.net/combine/npm/jquery@3.4.1,npm/animejs@3.1.0,npm/icon-sdk-js@0.0.16,npm/sweetalert2@8.13.0,npm/howler@2.1.2,npm/socket.io-client@2.2.0/dist/socket.io.min.js"></script>
<script src="/js/helper.js"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap" rel="stylesheet">