* {
    font-family: 'Roboto', sans-serif;
}

body {
    overflow-y:hidden;
    overflow-x:hidden;
    background: rgb(244,244,244);
}

#container {
    position: absolute;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#rpanel {
    background: rgb(244,244,244);
    position: absolute;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
    padding: 2rem;
}

#lpanel {
    background-color: white;
    position: absolute;
    margin: 0;
    top: 0;
    right: 100%;
    bottom: 0;
    left: 0;
    width: 0;
    height: calc(100% - 4rem);
    padding: 0;
}

#fulldate {
    font-size : 1rem;
    display: inline-block;
    font-weight: 700;
    opacity: 0;
}

#about {
    display: inline-block;
    float:right;
    font-weight: 700;
}

#bigdate {
    position: absolute;
    display: inline-block;
    bottom: 2rem;
    right: 2rem;
    background: black;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 10vw;
    font-weight: 900;
}

#currentstory {
    background-color: black;
    position: absolute;
    left: 50%;
    top: 30%;
    width: 60%;
    transform: translateX(-50%) translateY(-30%);
    border-radius: 50%;
    -webkit-clip-path: inset(0 0 0 0 round 50%);
    clip-path: inset(0 0 0 0 round 50%);
    -webkit-transition: padding 0.4s; /* Safari prior 6.1 */
    transition: padding 0.4s;
    opacity: 0;
}
#about:hover {
    cursor: pointer;
}

#currentstory:hover {
    padding: 2rem;
    cursor: pointer;
}

#currentstory:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.word {
    display: inline;
    color: white;
    font-size: 3vw;
    padding: 1%;
    word-wrap: break-word;
    max-width: 100%;
    font-weight: 700;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.4s; /* Safari prior 6.1 */
    transition: 0.4s;
}

#currentstory:hover > .content {
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
}

.tile {
    width: calc((100% - 2rem) / 4);
    padding-bottom:  calc((100% - 2rem) / 4);
    background-color: #DDDDDD00;
    margin: 0.2rem;
    overflow:hidden;
    float: left;
    opacity: 0;
    position: relative;
}

.tile:hover {
    cursor: pointer;
}

.tileContent {
    position: absolute;
    width: 100%;
    height: 100%;
}

.tileContentCircle {
    position: absolute;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    -webkit-clip-path: inset(0 0 0 0 round 50%);
    clip-path: inset(0 0 0 0 round 50%);
    background-color: black;
    margin: 10%;
}

.miniDate {
    right: 0;
    position: absolute;
    bottom: 0;
    padding: 3%;
    font-weight: 900;
    color: dimgrey;
}

.miniWord {
    display: inline;
    color: white;
    font-size: 1vw;
    padding: 1%;
    word-wrap: break-word;
    max-width: 100%;
    font-weight: 700;
}

.miniNoStory {
    display: inline-block;
    color: white;
    font-size: 1vw;
    position: absolute;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.miniStory {
    display: inline-block;
    position: absolute;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
}

.miniMonth {
    font-size: 4vw;
    font-weight: 900;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.empty {
    display: inline-block;
    padding: 1%;
    font-weight: 700;
}

.innerContent {
    display: inline-block;
    position: absolute;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
}

.uparrow {
    display: none;
    position: absolute;
    z-index: 100;
    font-size: 2vw;
    left: 27.5%;
    transform: translateX(-50%);
    cursor: pointer;
    top: 1rem;
}

.downarrow {
    display: none;
    position: absolute;
    z-index: 100;
    font-size: 2vw;
    left: 27.5%;
    transform: translateX(-50%);
    bottom: 1rem;
    cursor: pointer;
}

.old {
    transition: filter 0.4s;
    filter: grayscale(1);
}

.old:hover {
    filter: grayscale(0);
}

.new {
    transition: filter 0.4s;
    filter: grayscale(1);
}

.new:hover {
    filter: grayscale(0);
}

.current {
    transform: scale(1.1) !important;
    background-color: #EEE !important;
    z-index: 2; !important;
}



.lds-ellipsis {
    display: inline-block;
    position: absolute;
    width: 64px;
    height: 64px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1000;
}
.lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #111;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(19px, 0);
    }
}

@media only screen and (min-width: 1200px) {
    #rpanel {
        left: 55%;
        width: calc(45% - 4rem);
        height: calc(100% - 4rem);
    }
    #lpanel {
        right: 45%;
        width: calc(55% - 4rem);
        height: calc(100% - 4rem);
        padding: 2rem;
    }
    #bigdate {
        font-size: 7vw;
    }
    .uparrow {
        display: block;
    }
    .downarrow {
        display: block;
    }
    .lds-ellipsis {
        display: inline-block;
        position: absolute;
        width: 64px;
        height: 64px;
        left: 27.5%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: 1000;
    }
}
