<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />
</head>
<body>
<div class="background">
</div>
<div id="people">
<!--    <div class="person"><img class="person-img" src="texture/1.png"></div>-->
</div>
<div id="container">
    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    <div id="inner"></div>
    <div class="add">+</div>
</div>
<div id="about" onclick="window.open('https://twitter.com/IconstoryOnline', '_blank')">About</div>
<div id="home" onclick="window.location.href='/'">Home</div>
<div id="enter">↵</div>
<script type="text/javascript">
    const MAINNET_URL = '<%- URL %>';
    const DATE = '<%- DATE %>';
    const scoreAddress = '<%- SCORE %>';
    const region = "<%- REGION %>";
</script>
<script type="text/javascript" src="/js/app.js">
</script>

</body>
</html>
