<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>
<body>
<div id="container">
    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    <div class="uparrow">▲</div>
    <div class="downarrow">▼</div>
    <div id="lpanel">
        <div class="tile"></div>

    </div>
    <div id="rpanel">
        <div id="fulldate">2019&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;July 01 14:15:05</div>
        <div id="about" onclick="window.open('https://twitter.com/IconstoryOnline', '_blank')">About</div>
        <div id="currentstory"  onclick="location.href='/en/'">
            <div class="content">
                <div class="innerContent">
                    <div style="opacity: 0;" class="word">word</div>
                </div>
            </div>
            <div class="overlayColor"></div>
            <div class="overlay">
                <img src="images/smilyface_lg.png" alt="Current Story">
            </div>
        </div>
        <div id="bigdate">00.00.00</div>
    </div>
</div>
<script type="text/javascript">
    const MAINNET_URL = '<%- URL %>';
    const scoreAddress = '<%- SCORE %>';
</script>
<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
